html, body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
	padding: 0;
	background-image: url("../img/curtain-background.gif");
	background-position: center;
	background-repeat: repeat;
}

#content {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 900px;
	margin: 50px auto 50px auto;
	padding: 40px 60px 40px 60px;
	border: solid 8px #F25C75;
	box-sizing: border-box;
	background-image: url("../img/tiles-background.jpg");
	background-position: center;
	background-repeat: repeat;
}

h1 {
	font-size: 72px;
	font-weight: 900;
	margin: 20px 0 20px 0;
	color: #F23D5B;
}

h1 .dark-blue {
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
	color: #041259;
}

h2 {
	font-size: 48px;
	font-weight: 900;
	margin-bottom: 30px;
	color: #F23D5B;
}

h3 {
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 36px;
	font-weight: 900;
	color: #041259;
}

.credit {
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	line-height: 1.25;
	margin-bottom: 40px;
	color: #F23D5B;
}

p {
	width: 100%;
	font-size: 18px;
	font-weight: 500;
	line-height: 1.25;
	margin-top: 0;
	margin-bottom: 12px;
	color: #041259;
}

.quote {
	width: 100%;
	font-style: italic;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.25;
	margin-top: 20px;
	color: #041259;
}

.character {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 30px;
}

.character .quote {
	margin-top: 10px;
	margin-bottom: 10px;
}

.portrait {
	margin-right: 50px;
	border-radius: 125px;
	
}

.button {
	width: 600px;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
	padding-left: 50px;
	padding-right: 50px;
	box-sizing: border-box;
	background-image: url("../img/button-large.jpg");
	background-size: cover;
}

.span-50 {
	width: 100%;
	height: 50px;
}

.span-10 {
	width: 100%;
	height: 10px;	
}

.camera-interface {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.link-large {
	font-size: 36px;
	font-weight: 700;
	text-align: center;
	line-height: 1.25;
	color: #0000ff;
}

.link {
	font-size: 18px;
	font-weight: 500;
	color: #0000ff;
}