html, body {
	/* font-family: 'Roboto', sans-serif; */
	font-family: 'Rubik', sans-serif;
    margin: 0;
	padding: 0;
	background-image: url("../img/curtain-background.gif");
	background-attachment: fixed;
	background-position: center;
	background-repeat: repeat;
}

#content {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 900px;
	margin: 50px auto 50px auto;
	padding: 40px 60px 40px 60px;
	border: solid 8px #F25C75;
	box-sizing: border-box;
	background-image: url("../img/tiles-background.jpg");
	background-position: center;
	background-repeat: repeat;
}

h1 {
	font-size: 72px;
	font-weight: 800;
	line-height: 1.35;
	margin: 20px 0 20px 0;
	color: #F23D5B;
}

h1 .dark-blue {
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
	color: #041259;
}

.with-home-btn {
	margin-top: 0;
}

h2 {
	font-size: 36px;
	font-weight: 700;
	text-align: center;
	line-height: 1.35;
	margin-top: 0;
	margin-bottom: 30px;
	color: #F23D5B;
}

.step {
	margin-bottom: 15px;
}

h3 {
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 32px;
	font-weight: 700;
	line-height: 1.35;
	color: #041259;
}

p {
	width: 100%;
	font-size: 18px;
	font-weight: 500;
	line-height: 1.35;
	margin-top: 0;
	margin-bottom: 12px;
	color: #041259;
}

.step-description {
	text-align: center;
	margin-bottom: 30px;
}

.credit {
	font-size: 18px;
	font-weight: 500;
	text-align: center;
	line-height: 1.35;
	margin-bottom: 40px;
	color: #F23D5B;
}

.highlight {
	font-size: 24px;
	font-weight: 700;
	text-align: center;
	line-height: 1.35;
	margin-top: 50px;
	color: #F23D5B;
}

.quote {
	width: 100%;
	font-style: italic;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.35;
	margin-top: 20px;
	color: #041259;
}

.character {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 30px;
}

.character .quote {
	margin-top: 10px;
	margin-bottom: 10px;
}

.portrait {
	margin-right: 50px;
	border-radius: 125px;
	
}

.fan-mail-sample {
	width: 600px;
	height: 447px;
	margin-bottom: 50px;
}

.button {
	width: 600px;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
	padding-left: 50px;
	padding-right: 50px;
	box-sizing: border-box;
	background-image: url("../img/button-large.jpg");
	background-size: cover;
}

.button-medium {
	width: 370px;
	height: 75px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 15px;
	box-sizing: border-box;
	background-image: url("../img/button-medium.jpg");
	background-size: cover;
}

.span-50 {
	width: 100%;
	height: 50px;
}

.span-10 {
	width: 100%;
	height: 10px;	
}

.camera-interface {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	margin-bottom: 30px;
}

#my_camera {
	width: 370px;
	height: 370px;
	background-color: black;
}

a {
	font-family: 'Rubik', sans-serif;
	font-weight: 600;
	color: #0000ff;
}

.link {
	font-size: 18px;
	font-weight: 500;
	color: #0000ff;
}

.link-medium {
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	text-decoration: underline;
	line-height: 1.35;
	color: #0000ff;
	cursor: pointer;
}

.link-large {
	font-size: 36px;
	font-weight: 700;
	text-align: center;
	line-height: 1.35;
	color: #0000ff;
}

.link-large-disable {
	font-size: 36px;
	font-weight: 700;
	text-align: center;
	line-height: 1.35;
	color: #828282;
}

a h3 {
	color: #0000ff;
}

.form-group {
	width: 600px;
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

label {
	font-size: 18px;
	font-weight: 500;
	line-height: 1.25;
	margin-bottom: 5px;
	color: #041259;
}

input {
	height: 46px;
	padding: 10px 18px 10px 18px;
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	font-weight: 400;
	line-height: 1.25;
	border: solid 3px #B2B2B2;
	border-radius: 5px;
	box-sizing: border-box;
}

textarea {
	resize: none;
	height: 108px;
	padding: 10px 18px 10px 18px;
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	font-weight: 400;
	line-height: 1.25;
	border: solid 3px #B2B2B2;
	border-radius: 5px;
	box-sizing: border-box;
}

input:focus, textarea:focus {
	outline: none;
	border: solid 3px #FF80EA;
}

.camera-preview {
	width: 370px;
	height: 370px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 25px;
	background-color: black;
	box-sizing: border-box;
}

.camera-preview-text {
	font-size: 18px;
	font-weight: 500;
	line-height: 1.25;
	text-align: center;
	color: white;
}